<div class="row">
	<div class="col-sm-4 info">
		<div class="title">
			{{title}}
		</div>
		<div class="description">
			{{description}}
		</div>
		<div class="content">
			{{value}}
		</div>
	</div>
	<div class="col-sm-4 state" style="color: #55E06E">
	</div>
</div>
