.home-page
{

	padding: 0px;
	margin: 0px;

	width: 100%;
	height:  ~"calc(100% - 45px)";

	.row
	{ 
		margin: 0px;
		height:  ~"calc(100% - 30px)";
	}

	.left-sidebar
	{
		display: inline-block;
		padding: 0px;
  		float: left;
		width: 300px;
		background: #EEE;
		
		height: 100%;
		
		.left-sidebar-content
		{
			height: 100%;
			overflow-y: overlay;
			&::-webkit-scrollbar 
			{
				width: 0px;
			}

			&:hover::-webkit-scrollbar 
			{
				width: 10px;
			}
		}

		.command-section
		{
			background: #E5E5E5;

			padding: 15px;
			margin: 0px;
			margin-bottom: 15px;

			h5
			{
				margin-bottom: 0px;
				margin-top: 5px;
			}

			.commands
			{
				padding-top: 0px;
				margin-top: 10px;

				& > div:not(:last-child)
				{
					border-bottom: 1px solid #CCC;
				}
			}
		}

		.stats
		{
			padding-left: 15px;
			padding-right: 15px;

			table thead th
			{
				text-align: center;
			}
		}
	}

	.content
	{
		width: ~"calc(100% - 300px)";
		height: ~"calc(100%)";
		display: inline-block;
		padding: 0px;
		padding-top: 20px;

		overflow: overlay;

		.title
		{
			margin-left: 20px;
			margin-bottom: 10px;

			h4
			{
				margin: 0px;
			}
		}
	}
}