<div class="container-fluid home-page">

    {{
        home/connection-manager 
        connected=model.pEngine.connected 
        refreshRate=model.pEngine.refreshRate
        disconnect="disconnect" 
        connect="connect"
    }}

    <div class="row">

    	<div class="col-sm-2 left-sidebar">wqefdqwefdqew</div>

    	<div class="col-sm-2 content">qqwqwefqew</div>

    </div>

</div>