<div class="home-page">

    {{
        home/connection-manager 
        connected=model.pEngine.connected 
        refreshRate=model.pEngine.refreshRate
        disconnect="disconnect" 
        connect="connect"
    }}

</div>